<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body>
	<br>
	<h2>&emsp;&emsp;&emsp;Diabetic Survival Prediction</h2>
	<div class="login">
		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}"method="post">
			<input class="input3" type="text" name="pregnant" placeholder="How many times have you been impregnated?">
			<input class="input3" type="text" name="glucose" placeholder="What is your glucose level?">
			<input class="input3" type="text" name="bp" placeholder="What is your BP level?">
			<input class="input3" type="text" name="skin" placeholder="What is your skin thickness?">
			<input class="input3" type="text" name="insulin" placeholder="What is your insulin level? ">
			<input class="input3" type="text" name="bmi" placeholder="What is your bmi?">
			<input class="input3" type="text" name="pedigree" placeholder="What is your pedigree level?">
			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>					
		</form>
		<br>
		<br>
		{{ prediction_text }}
 	</div>
 
 
 </body>
 </html>